.projectList{
    overflow: hidden scroll;
    scrollbar-width: none; /* Firefox */
    height: 92vh;
    margin: 5px auto 0 auto;
    padding-top: 5px;
    width: 54%;
    scroll-padding: 5px 5px 5px;   
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px 2px ;
}

.projectList::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
