.Container{
    max-width: 1000%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
}


.col { width: 12%; } // = 8,3333 + 4,16667
.col-lg-2-5 { width: 20,83333%; } // = 16,6666 + 4,16667
.col-lg-3-5 { width: 29,16667%; } // = 25 + 4,16667
.col-lg-4-5 { width: 37,5%; } // = 33,3333 + 4,16667
.col-lg-5-5 { width: 45,83333%; } // = 41,6667 + 4,16667
.col-lg-6-5 { width: 54,16667%; } // = 50 + 4,16667
.col-lg-7-5 { width: 62,5%; } // = 58,3333 + 4,16667
.col-lg-8-5 { width: 70,83333%; } // = 66,6666 + 4,16667
.col-lg-9-5 { width: 79,16667%; } // = 75 + 4,16667
.col-lg-10-5 { width: 87,5%; } // = 83,3333 + 4,16667
.col-lg-11-5 { width: 95,8333%; } // = 91,6666 + 4,16667