.projectList{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    height: 92vh !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 5px;
    width: 54% !important;
    scroll-padding: 5px 5px 5px;
    
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px 2px ;
    //background-color: #202945;
}

.projectList::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}