.loginModal{
    margin-top: 5px;
    padding-top: 5px;
    width: 28% !important;
    min-height: 50vh;
    border-radius: 10px;
    border-color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px 2px ;
    margin: auto;
    vertical-align: middle;
}

.loginPage{
    background-color: #1C8EF9;
    width: 100%;
    min-height: 94vh;
    display: flex;
  justify-content: center;
 
   // height: 92vh !important;
}