.card-img-top{
    object-fit: cover;
    height: 100px;
    width: 100%!important;
   // height: 200px!important;
    object-fit: cover;
}
.card-body{

    max-height: 20%;
}

#sidebarItem{
    width: 50%;
    color: white;
    overflow: auto;
    max-height: 40%;
    float: left;
}
.card:hover{
background-color: rgba(255,255,255,0.66);
cursor: pointer;
}
.card-body{
    height: 80px;
    align-items: center;
}
.card{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px px 0px 0px inset;
}